<img class="fullbg" [src]="bgImgs.image">
<div class="slider">
    <section class="interesting" *ngFor="let food of foods" [ngStyle]="{'left.px': leftValue}">
        <img class="interesting interesting__img" [src]="food.name">
    </section>

</div>
<button class="btn btn__prev" (click)="btn__prev()">&#8249;</button>
<button class="btn btn__next" (click)="btn__next()">&#8250;</button>
<div class="text">
    <p class="text__information">
        В основном меню ресторана Stories пять разделов: Raw bar, «Рыба и морепродукты», «Птица и мясо», «Овощи и сыры» и, конечно, «Десерты». Шеф-повар Владислав Корпусов готовит свои блюда, делая акцент на свежести продукта, его чистом вкусе и легкости. Соединяя
        на тарелке самые, казалось бы, несочетаемые продукты, он удивительным образом добивается абсолютной гармонии и особенного «звучания» блюда, мотив которого надолго остается в памяти. Шеф-кондитер Екатерина Кригер и вовсе создает сладкие шедевры,
        которые просто невозможно сразу съесть — рука так и тянется снять stories, а может даже сделать пост. Тем, кто только начинает знакомство с кухней Stories, Владислав рекомендует попробовать устрицы фламбаду. Блюдо действительно стоит внимания
        не только благодаря совершенно нетипичному вкусу, но и из-за зрелищной подачи. Так, говяжий жир растапливают в специальной воронке на открытом огне, поливают им устриц, добавляют клубнику и сразу подают гостю, чтобы передать разницу температур
        и яркий аромат. Поклонники более классических, но нетривиальный вкусов непременно найдут для себя что-то интересное в меню или могут довериться выбору шефа и заказать дегустационный сет. Он действует каждый день с 14:00 до 22:00 и представляет
        собой выборку из знаковых блюд основного меню. Именно дегустационный сет позволяет в полной мере познакомиться с кухней ресторана, а тому, кто ищет новые гастрономические впечатления — верная дорога в сторону Сhef's Table.
    </p>
</div>