.backgd {
    height: 750px;
    background-color: black;
    color: white;
}

.backgd__img {
    width: 350px;
    height: 300px;
    position: relative;
    left: 800px;
    border-radius: 100px;
    opacity: 0.4;
}

.introduction {
    position: relative;
    top: 200px;
    color: white;
    width: 680px;
    left: 20px;
}

.introduction__heading {
    border-bottom: 3px solid rgb(109, 0, 0);
    width: 167px;
}

.location {
    position: relative;
    top: 150px;
    font-style: normal;
    left: 20px;
    width: 700px;
    z-index: 2;
}

.location__src {
    border-top: 3px solid rgb(109, 0, 0);
    text-decoration: none;
    color: white;
}

.phone {
    border-top: 3px solid rgb(109, 0, 0);
    position: relative;
    left: 40px;
    cursor: pointer;
    z-index: 2;
}

.introduction__heading-description {
    font-size: 15px;
}

.socialNetwork {
    position: relative;
    text-align: right;
    padding-right: 50px;
    top: 110px;
}

.socialNetwork__sub li {
    display: inline;
}

.socialNetwork__sub a {
    position: relative;
    margin-left: 30px;
}

.fa {
    line-height: 30px;
    width: 10px;
    height: 10px;
    color: white;
    transition: 0.4s;
}

.fa:hover {
    transition: 0.4s;
    color: rgb(109, 0, 0);
}