<section class="menu menu__nav">
    <p class="RestLogo">ОГНИ <span class="RestLogo RestLogo__rest">ресторан</span></p>
    <a routerLink='/' class="controlPanel controlPanel__HomePage">О нас</a>
    <a href="https://www.facebook.com/pg/ognirest/menu/" class="controlPanel contrrolPanel__menu">Меню</a>
    <a routerLink="gellery" class="controlPanel controlPanel__gallery">Галлерея</a>
    <a routerLink="delivery" class="controlPanel controlPanel__delivery">Доставка</a>
    <a routerLink="basket" class="controlPanel controlPanel__basket">Корзина</a>
</section>


<router-outlet></router-outlet>